@model LunchPicker.Models.RestaurantSelection

@{
    ViewBag.Title = "Pick";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center" style="margin-top: 20px;">
    @*<h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>*@
    <p>You are going to...</p>
    <h1>@Html.DisplayFor(model => model.Restaurant.Name)</h1>
    <p>This was selected by 
        @Html.DisplayFor(model => model.Username) at 
        @Html.DisplayFor(model => model.Timestamp)
    </p>
    @*<div>
        <button class="btn btn-default">Fine</button>
        <button class="btn btn-default">Ew</button>
    </div>*@
    
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
